firebase-admin
dotenv
google-generativeai
fastapi
numpy
google-cloud-aiplatform
vertexai
fastapi[standard]
uvicorn
pydantic
requests
geocoder
google-cloud-firestore
google-cloud-storage
google-cloud-pubsub